name: Take diff

on:
  push:
    branches-ignore:
      - "main"

# This is what will cancel the workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'Apply automatic changes')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: "npm"
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"

      - name: Install dependencies
        run: npm i

      - name: Build storybook
        run: npm run build-storybook

      - name: Perform e2e tests with Heaful Puppeteer
        uses: maufrontier/puppeteer-headful@v3
        env:
          CI: "true"
        with:
          commands: |
            npx http-server --port=6008 ./storybook-static &
            sleep 10
            npm run test || echo SUCCESS

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4

  approval:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'Apply automatic changes')"
    needs: build-and-test

    steps:
      - name: send approval
        uses: varu3/slack-approval@main
        env:
          SLACK_APP_TOKEN: ${{ secrets.SLACK_APP_TOKEN }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          SLACK_SIGNING_SECRET: ${{ secrets.SLACK_SIGNING_SECRET }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
        timeout-minutes: 10
