name: Take diff
on: push
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: "npm"
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"

      - name: Install dependencies
        run: npm i

      - name: Run storybook
        run: npm run storybook&

      - name: Run tests
        run: sleep 10 && npm run test || echo SUCCESS
