name: Take diff
on: push
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: "npm"
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"

      - name: Install dependencies
        run: npm i

      - name: Build storybook
        run: npm run build-storybook

      - name: Perform e2e tests with Heaful Puppeteer
        uses: maufrontier/puppeteer-headful@v3
        env:
          CI: "true"
        with:
          commands: |
            npx http-server --port=6008 ./storybook-static &
            sleep 10
            npm run test || echo SUCCESS
            git add .
